:root {
  --primary-color: #cc0000;
  --secondary-color: #7c0000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-self;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  overflow: hidden;
}

.main-header {
  background-color: var(--primary-color);
  box-shadow: 3px 3px 10px #888;
}

.main-header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 10px;
}

.main-header .logo {
  width: 170px;
  margin-bottom: 16px;
}

.main-header .search[type="text"] {
  padding: 7px;
  width: 300px;
  border: none;
  border-radius: 3px;
}

.sub-header {
  background-color: var(--secondary-color);
  color: #fff;
  box-shadow: 3px 3px 10px #888;
  margin: 0 auto 16px auto;
  width: 90%;
  font-size: 14px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sub-header p {
  margin: 4px;
}

.sub-header img {
  width: 40px;
}

.grid-container {
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.grid-container .item {
  width: 48%;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 10px;
}

.grid-container .item h4 {
  margin-bottom: 5px;
}

.grid-container .item p {
 font-size: 14px;
 color: var(--secondary-color);
 font-weight: bold;
 margin-bottom: 20px;
}

.grid-container .item img {
  width: 30px;
  
  /* align-sefl는 상위의 align-items를 재정의한다. */
  align-self: flex-end;
}

.main-footer {
  background: #f4f4f4;
  color: #444;
  padding: 10px;
  font-size: 14px;
  margin-top: 10px;
  padding: 12px 0;
  flex-shrink: 0;
}

.main-footer ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main-footer ul li {
  display: flex;
  flex-direction:  column;
  align-items: center;
}

.main-footer ul li i {
  font-size: 22px;
}

/* Splash */
#splash {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--primary-color);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 1s;
  opacity: 1;
}

#splash img {
  width: 300px;
}

#splash.fade {
  opacity: 0;
}

@media(min-width: 768px) {
  .grid-container .item {
    width: 32%;
  }

  .grid-container .item img {
    width: 60px;
  }
}